*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
table,td,th{
    border: 1px solid;
    border-collapse: collapse;
}
    
table{
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 0 100px gray;
        

}
th {
    background-color: bisque;
}

.buu {
    background-color: yellow;
    color: black;
    border-radius: 40px;
    font-size: small;
    border: 0;
    height: 40px;
    width: 60px;
}
.buu:hover{
    background-color: rgb(127, 174, 235);
    
}
table:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
